<nav class="sub-nav">
  <a href="/rekap/kendali" class="{{ 'aktif' if request.url.path == '/rekap/kendali' }}">Kendali Korwil</a>
  <a href="/rekap/harian" class="{{ 'aktif' if request.url.path == '/rekap/harian' }}">Harian</a>
  <a href="/rekap/tahapan" class="{{ 'aktif' if request.url.path == '/rekap/tahapan' }}">Tahapan</a>
  <a href="/rekap/potensi" class="{{ 'aktif' if request.url.path == '/rekap/potensi' }}">Potensi</a>
  <a href="/rekap/tipologi" class="{{ 'aktif' if request.url.path == '/rekap/tipologi' }}">Tipologi</a>
  <a href="/rekap/penyerahan" class="{{ 'aktif' if request.url.path == '/rekap/penyerahan' }}">Penyerahan</a>
  <a href="/rekap/macet" class="{{ 'aktif' if request.url.path == '/rekap/macet' }}">Macet</a>
</nav>
