<nav class="sub-nav">
  <a href="/master/tim" class="{{ 'aktif' if request.url.path == '/master/tim' }}">Tim</a>
  <a href="/master/pengguna" class="{{ 'aktif' if request.url.path == '/master/pengguna' }}">Pengguna</a>
  <a href="/master/kecamatan" class="{{ 'aktif' if request.url.path == '/master/kecamatan' }}">Kecamatan</a>
  <a href="/master/tipologi" class="{{ 'aktif' if request.url.path == '/master/tipologi' }}">Tipologi</a>
  <a href="/master/syarat" class="{{ 'aktif' if request.url.path == '/master/syarat' }}">Syarat</a>
</nav>
